 @{
     Layout = null;
 
 }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title> Performan Analiz Sonuçları</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <style>
        .item1{
        z-index: 0;
        }
        .item2 {
        z-index: 1;
        }
    </style>
</head>
<body>


<div style="height: 20px;"></div>
<div class="container-fluid ">
    <table class="table table-bordered table-hover ">
                <thead>
                <tr>
                    <th scope="col">İsim</th>
                    <th scope="col">Soyisim</th>
                    <th scope="col">Boy</th>
                    <th scope="col">Kilo</th>
                    <th scope="col">Doğum Tarihi</th>
                    <th scope="col">Sonuç</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Mustafa</td>
                    <td>Karacabey</td>
                    <td>170cm</td>
                    <td>75kg</td>
                    <td>06.07.1999</td>
                    <td>Türkiye 1.si</td>
                </tr>
                </tbody>
            </table>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>

